@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
:root {
  --gradient: $gradient;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: #f91a05;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  box-shadow: 0.5px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header img {
  width: 64px;
  border-radius: 50%;
}
header .nav-container a {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  margin-left: 20px;
  color: #e02e7d;
}
header a:hover {
  color: #f798c2;
}
header a:active {
  color: #f798c2;
}
header input {
  display: none;
}
header label {
  font-size: 3rem;
  color: #d65961;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 12.5rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/new-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .image img {
  width: 50vw;
  animation: float 3s linear infinite;
}
.home .content h3 {
  font-size: 5.5rem;
  color: #d8db36;
  text-transform: uppercase;
}
.home .content h3 span {
  color: #efd8cf;
}
.home .content p {
  font-size: 1.7rem;
  color: #efd8cf;
  padding: 1rem 0;
}

.heading {
  text-align: center;
  background: linear-gradient(90deg, #333, #e02e7d);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.spec-section {
  text-align: left;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.spec-section h3 {
  color: #8f8362;
  text-align: center;
}
.spec-section .spec-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
}

.features {
  background: #d65e6975;
}
.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.features .box-container .box {
  flex: 1 1 30rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.2s linear;
}
.features .box-container .box img {
  width: 50%;
}
.features .box-container .box h3 {
  font-size: 2rem;
  color: #333;
}
.features .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

.review {
  background: url(../img/video-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.review .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.review .video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.review .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.review .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
  align-content: center;
  justify-content: space-around;
}
.review .content h3 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.review .content p {
  color: #fff;
  font-size: 1.6rem;
  margin: 2rem auto;
  width: auto;
  text-align: center;
}

.subscribe {
  text-align: center;
  padding: 5rem 1rem;
  background: url(../img/new-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.subscribe h3 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}
.subscribe p {
  color: #fff;
  font-size: 1.6rem;
  margin: 2rem auto;
  width: auto;
}
.subscribe form {
  display: flex;
  max-width: 70rem;
  border: 0.2rem solid #fff;
  padding: 0.5rem;
  border-radius: 5rem;
  margin: 2rem auto;
  height: 5.5rem;
}
.subscribe form input[type=email] {
  padding: 0 2rem;
  font-size: 1.7rem;
  background: none;
  width: 100%;
  color: #fff;
  text-transform: none;
}
.subscribe form input[type=email]::placeholder {
  color: #eee;
  text-transform: capitalize;
}
.subscribe form input[type=submit] {
  background: #fff;
  width: 20rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  cursor: pointer;
}
.subscribe form input[type=submit]:hover {
  color: #e02e7d;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
.contact .image {
  flex: 1 1 40rem;
}
.contact .image img {
  width: 100%;
  padding: 2rem;
}
.contact form {
  flex: 1 1 40rem;
  padding: 2rem 3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #fff;
}
.contact form .heading {
  text-align: left;
  padding: 0;
  padding-bottom: 2rem;
}
.contact form .inputBox {
  position: relative;
}
.contact form .inputBox input,
.contact form .inputBox textarea {
  width: 100%;
  background: none;
  color: #666;
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}
.contact form .inputBox textarea {
  resize: none;
  height: 13rem;
}
.contact form .inputBox label {
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  color: #666;
  transition: 0.2s linear;
}
.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label {
  top: -0.5rem;
  font-size: 1.5rem;
  color: #e02e7d;
}

.footer {
  padding-top: 3rem;
  background: url(../img/video-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #eee;
}
.footer .box-container .box a:hover {
  text-decoration: underline;
}
.footer .box-container .box .info {
  display: flex;
  align-items: center;
}
.footer .box-container .box .info i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  color: #e02e7d;
  font-size: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}
.footer .credit {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #fff;
  border-top: 0.1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: linear-gradient(90deg, #333, #e02e7d);
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
  }
}
@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .nav-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #000;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }
  header .nav-container a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }

  header input:checked ~ .nav-container {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "";
  }

  .home {
    flex-flow: column-reverse;
  }
  .home .image img {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3.6rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
  .home .content a {
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .review {
    min-height: 82vh;
  }
}

/*# sourceMappingURL=style.css.map */
